div {
    width: 33%;
    height: 33%;
    background-color: bisque;
}

#one {
    background-color: blue;
    border-width: 5px;
    border-color: crimson;
    border-style: groove;
    box-sizing: border-box;
    border-radius: 10% 30% 50% 70%;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
    
}

#two {
    background-color: blueviolet;
    border-width: 8px;
    border-color: pink;
    border-style: dotted;
    box-sizing: border-box;
    border-radius: 50% 20% / 10% 40%;
}

#three {
    background-color: coral;
    border-width: 8px;
    border-color: teal;
    border-style: double;
    box-sizing: border-box;
    border-radius: 8px;
    border-left-width: 30px;

    
}

#four {
    border: 10px groove red;
    border-radius: 50%;
    padding: 3%;
    padding-left: 45px;
}

button {
    padding-left: 20px;
    padding-right: 20px;
}