body {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

main {
    width: 80%;
    margin: 344440;
    padding-left: 15px;
    padding-top: 25px;
}

h1 {
    font-family: Roboto, sans-serif;
}